{% extends 'base.html.twig' %}

{% block title %}AjoutListe{% endblock %}
{% block monTitre %}Ajout d'une liste{% endblock %}
{% block body %}
{{form_start(form)}}
      {{form_widget(form)}}
      <input type="submit" href="{{path('listes')}}" class="btn btn-success" value="ajouter">
        <a href="{{path('listes')}}" class="btn btn-primary">Retour</a>
  {{form_end(form)}}
{% endblock %}
